* {
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: none;
  font-family: sans-serif;
}

/* Container Body */

.container {
  background-color: #d3d3d3;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Calc */

h1 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 35px;
}

/* Inputs */

form {
  padding: 10px;
  background-color: white;
  width: 768px;
  line-height: 40px;
  text-align: center;
}
form div {
  padding: 0 30px;
  display: inline-block;
}

input {
  outline: none;
  padding: 2px 5px;
}

/* Calc Button */

button {
  outline: none;
  padding: 2px;
  box-shadow: 0.5px 0.5px 2px #111;
}

button:hover {
  background-color: rgb(207, 228, 130);
  outline: none;
}

hr {
  margin: 10px 0;
}

/* Result */

#result {
  font-size: 20px;
  color: seagreen;
}

/* Making everything responsive */

@media only screen and (max-width: 768px) {
  form {
    width: 100%;
  }

  form div {
    display: list-item;
  }

  .op {
    margin: -40px 0;
  }

  hr {
    margin: 10px 5px;
  }
}
